.btn{
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 13px;
    display: inline-block;
    &--default{
        border-color: $dark;
        color: $dark;
        text-decoration: none;
        &:hover{
            background-color: $dark;
            color: $white;
        }
    }
}